---
export const prerender = true;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="refresh" content="0; url=/buyers" />
		<link rel="canonical" href="/buyers" />
		<title>Redirigiendo...</title>
	</head>
	<body>
		<p>Redirigiendo a <a href="/buyers">/buyers</a>...</p>
	</body>
</html>
